<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <meta charset="UTF-8">
    <title>Searching Results</title>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style type="text/css">

        #box {
            width: 1000px;
            margin: 0px auto;
            font-family: 'Times New Roman';
            font-size: 18px;
        }

        input {
            width: 648px;
            border: 1px solid #c1cdc1;
            height: 38px;
            padding: 0 0 0 0px;
        }

        #search_content {
            /*font-family: 'Times New Roman'; */
            font-size: 18px;
            width: 100px;
            height: 40px;
            background: teal;
            color: white;
            text-align: center;
            line-height: 18px;
            cursor: pointer;
        }

        #tb {
            table-layout: fixed;
        }

        .div-right {
            position: absolute;
            right: 40px;
            top: 20px; /*20*/
        }

        .div-picture {
            position: absolute;
            left: 10px;
            top: 59px; /*5*/
        }

        .div-box {
            position: absolute;
            left: 270px;
            top: 80px; /*40*/
        }

        .table > thead > tr > th {
            border-color: transparent;
        }

        .table > tbody > tr > td,
        .table > tbody > tr > th {
            border-width: 5px;
            border-color: transparent;
        }

        li {
            list-style-type: none;
        }
    </style>
</head>


<body>
    <div data-spy="scroll" data-target="#myScrollspy" data-offset="20">

        <div class="div-right">
            <a href="file:///C:/Users/Ziqi/Desktop/Sign in.html" target="_blank" align="right">Sign up or log in</a>
        </div>

        <div class="div-picture">
            <p style="Color:teal;font-size:50px"><img src="/static/img/moyu.jpg" width=60px height=50px align="center" />    MoDeal <p>
                <!-- <p> MoDeal </p> -->
                <!-- <p><img src="/static/img/moyu.jpg" width=160px height=160px /><p> -->
                <!--<p><img src="C:/Users/Ziqi/Desktop/moyu.jpg" width="120px" height="120px" /></p>-->
        </div>

        <form action="/index/" method="post">
            {% csrf_token %}
            <div class="div-box" id="box">
                <p>
                    <input type="text" name="search_content" value=' {{ search_content  }}' placeholder="    Enter product information" autocomplete="off">
                    <!--<input type="text" name="search_content" value=' {{ search_content  }}' placeholder="    Enter product information" autocomplete="off">-->
                    <input type="submit" value="Search" id="search_content" button class="btn btn-outline-success my-2 my-sm-0">
                </p>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </form>

        <div class="container-fluid text-center">
            <div class="row content">
                <div class="col-sm-2 sidenav">
                    <!--<p><a href="#">Link</a></p>
                    <p><a href="#">Link</a></p>
                    <p><a href="#">Link</a></p>-->
                </div>

                <div class="col-sm-8 text-left">
                    <div class="container">
                        <input class="form-control" id="myInput" type="text" placeholder="Enter filter keywords of product names or sources..">
                        <div id="myDIV">
                            <div class="table-responsive" style="text-align:center">
                                <table class="table table-hover" id="tb" style="word-break:break-all; word-wrap:break-word; margin:auto">
                                    <!--
                                    <thead>
                                        <tr>
                                            <th class="text-center">Source</th>
                                            <th class="text-center">Picture</th>
                                            <th class="text-center">Name</th>
                                            <th class="text-center">Price</th>
                                            <th class="text-center">Visit Website</th>
                                            <th class="text-center">Add to Favorites</th>
                                        </tr>
                                    </thead>
                                        -->
                                    <!--
                                    <tbody>
                                        <tr>
                                            <td class="text-center">Amazon</td>
                                            <td class="text-center"><img src="C:/Users/Ziqi/Desktop/moyu.jpg" width="100px" height="100px" /></td>
                                            <td class="text-center">Macbook1234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890 </td>
                                            <td class="text-center">2000 USD</td>
                                            <td class="text-center"><a href="https://www.amazon.com/">link</a></td>
                                            <td class="text-center">
                                                <button type="button" class="btn btn-primary" onclick="alert('Added to Favorites!')">Add to Favorites</button>
                                            </td>
                                        </tr>
                                    </tbody>-->
                                    <!--
                                    <tbody>
                                        <tr>
                                            <td class="text-left" width="30%"><img src="C:/Users/Ziqi/Desktop/moyu.jpg" width="180px" height="180px" /></td>
                                            <td class="text-left" width="50%">
                                                <li><p><font size="6">Macbook Pro</font></p></li>
                                                <li><p><font size="5">2000 USD</font><p></li>
                                                <li><p><font size="4">Amazon</font><p></li>
                                            </td>
                                            <td class="text-left" width="20%"><button type="button" class="btn btn-outline-success my-2 my-sm-0" onclick="alert('Added to Favorites!')">Add to Favorites</button></td>
                                        </tr>
                                        <tr>
                                            <td class="text-left" width="30%"><img src="C:/Users/Ziqi/Desktop/moyu.jpg" width="180px" height="180px" /></td>
                                            <td class="text-left" width="50%">
                                                <li><p><font size="6">Macbook Pro</font></p></li>
                                                <li><p><font size="5">2000 USD</font><p></li>
                                                <li><p><font size="4">Amazon</font><p></li>
                                            </td>
                                            <td class="text-left" width="20%"><button type="button" class="btn btn-outline-success my-2 my-sm-0" onclick="alert('Added to Favorites!')">Add to Favorites</button></td>
                                        </tr>
                                        <tr>
                                            <td class="text-left" width="30%"><img src="C:/Users/Ziqi/Desktop/moyu.jpg" width="180px" height="180px" /></td>
                                            <td class="text-left" width="50%">
                                                <li><p><font size="6">Macbook Pro</font></p></li>
                                                <li><p><font size="5">2000 USD</font><p></li>
                                                <li><p><font size="4">Amazon</font><p></li>
                                            </td>
                                            <td class="text-left" width="20%"><button type="button" class="btn btn-outline-success my-2 my-sm-0" onclick="alert('Added to Favorites!')">Add to Favorites</button></td>
                                        </tr>
                                    </tbody> -->

                                    <tbody id=" myTable">
                                        {% for item in data %}
                                        <tr>
                                            <!-- <td class="text-left" width="15%"><img src="{{ item.picture }}" width: 180px height:180px /></td> -->
                                            <td class="text-left" width="15%"><img src="{{ item.picture }}" width="110%" height="110px" /></td>
                                            <td class="text-left" width="65%">
                                                <li><p><font size="4"><a href="{{ item.url }}">{{ item.name }}</a></font></p></li>
                                                <li><p><font size="3">{{ item.price }}</font><p></li>
                                                <li><p><font size="2">{{ item.source }}</font><p></li>
                                            </td>
                                            <td class="text-left" width="20%"><button type="button" class="btn btn-outline-success my-2 my-sm-0" onclick="alert('Added to Favorites!')">Add to Favorites</button></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    <!--
                                    <tbody>
                                        {% for item in data %}
                                        <tr>
                                            <td class="text-center">{{ item.source }}</td>
                                            <td class="text-center"><img src={{ item.picture }} width: 180px height:180px /></td>
                                            <td class="text-center">{{ item.name }}</td>
                                            <td class="text-center">{{ item.price }}</td>
                                            <td class="text-center"><a href="{{ item.url }}">link</a></td>
                                            <td class="text-center"><button type="button" class="btn btn-outline-success my-2 my-sm-0" onclick="alert('Added to Favorites!')">Add to Favorites</button></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                        -->
                                </table>
                            </div>
                        </div>
                        <script>
                            $(document).ready(function () {
                                $("#myInput").on("keyup", function () {
                                    var value = $(this).val().toLowerCase();
                                    $("#myTable tr").filter(function () {
                                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                                    });
                                });
                            });

                        </script>
                    </div>

                </div>

            </div>

            </div>

        </div>

</body>
</html>
